<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="col-md-12">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
      <div class="navbar-collapse collapse" uib-collapse="isCollapsed">
        <div class="pull-right navbar-logo">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#">Nav Link</a></li>
              <li><a href="#">Nav Link</a></li>
              <li><a href="#">Nav Link</a></li>  
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>